@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans',
    sans-serif;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  gap: 1em;
  background-color: rgb(34, 34, 34);
}

.app h1 {
  background-color: rgb(255, 193, 47);
  min-height: 2em;
  aspect-ratio: 1;
  text-align: center;
  font-size: 10em;
  padding: 10px;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.buttons__container .button {
  outline: none;
  padding: 10px;
  font-size: 1.25em;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
}

.buttons__container .button:hover:enabled {
  opacity: 0.75;
  cursor: pointer;
}

.add {
  background-color: rgb(94, 164, 94);
  border: rgb(47, 79, 47) 1px solid;
}

.reset {
  background-color: rgb(255, 240, 129);
  border: rgb(255, 238, 0) 1px solid;
}

.sub {
  background-color: rgb(255, 94, 94);
  border: rgb(255, 0, 0) 1px solid;
}